<footer class="footer ui vertical segment">
    <div class="ui container footer-links text-center">
        <div class="ui horizontal divided list">
            <div class="item">
                <a href="/about">О нас</a>
            </div>
            <div class="item">
                <a href="/faq">FAQ</a>
            </div>
            <div class="item">
                <a href="/contact">Контакты</a>
            </div>
            <div class="item">
                <a href="https://github.com/akbotazhaksylyk/KazakhstanSpeedcubingFederation" target="_blank"
                    class="hide-new-window-icon">
                    <i class="icon github "></i> GitHub
                </a>
            </div>
            <div class="item">
                <a href="/privacy">Политика конфиденциальности</a>
            </div>
            <div class="item">
                <a href="/disclaimer">Отказ от ответственности</a>
            </div>
        </div>
    </div>
</footer>