<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/logo.PNG" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="og:image"
        content='https://www.worldcubeassociation.org/assets/og-wca_logo-d7533638dbb753b45e9969280ca4c13215fdb53774a27a451164066a016b2190.png' />
    <title>Получить подтверждение</title>
    <link rel="canonical" href="https://www.worldcubeassociation.org" />
    <script>
        window.wca = {
            currentLocale: 'ru',
        };
    </script>
    <link rel="stylesheet"
        href="../assets/application-104daffa3b320a58f11016d47fee1fb960924ba3213bbfc5e882be55bc27d571.css" media="all" />
    <script src="../packs/js/runtime-7938f75aaf6de578850c.js"></script>
    <script src="../packs/js/jquery-67644508c82866575bb3.js"></script>
    <script src="../packs/js/vendor-840231f5ebc79c0cd90e.js"></script>
    <script src="../packs/js/347-28f7bd8610cbcaa720eb.js"></script>
    <script src="../packs/js/0-8d10846f05af5784b89f.js"></script>
    <script src="../packs/js/204-1f44bcbfd1418fbb1826.js"></script>
    <script src="../packs/js/127-a422b96ea63a18b084a2.js"></script>
    <script src="../packs/js/792-977c22b0298c87dc1071.js"></script>
    <script src="../packs/js/823-b4f1821a45008377a972.js"></script>
    <script src="../packs/js/460-3d0afc38ed7ccdbd5777.js"></script>
    <script src="../packs/js/995-baa8cb3216a06b60cd05.js"></script>
    <script src="../packs/js/754-6b0343cb1fb7f87a2218.js"></script>
    <script src="../packs/js/application-cc1c4a0032c1c626f19c.js"></script>
    <script src="../packs/js/global_styles-68a018c9be13dbd29fd4.js"></script>
    <script src="../packs/js/i18n-18a97bc05f4da1c82f28.js"></script>
    <script src="../packs/js/lodash_utils-59c0f4ace4648fe0ba89.js"></script>
    <link rel="stylesheet" href="../packs/css/216-36035357.css" />
    <link rel="stylesheet" href="../packs/css/272-5854f64f.css" />
    <link rel="stylesheet" href="../packs/css/347-377360ff.css" />
    <link rel="stylesheet" href="../packs/css/773-94f5ca70.css" />
    <script src="../assets/application-3420a68b5ecd97b428e153fac926004c768a766bf077eb68f308318449b3c4b4.js"></script>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token"
        content="o0QoQhU32hmp5qQR-e65pVaEt0t9smqmBE_1AhXNopUWgsWmoQ_-zUv6H23RVmAOLijVSc42vfEI21Eb8gf4jg" />
    <script>
        async function sendVerificationEmail(userEmail, verificationLink) {
            const mailOptions = {
                from: process.env.EMAIL_USERNAME,
                to: userEmail,
                subject: 'Подтвердите ваш Email',
                html: `<p>Пожалуйста, нажмите на следующую ссылку, чтобы подтвердить ваш email: <a href="${verificationLink}">${verificationLink}</a></p>`
            };

            try {
                await transporter.sendMail(mailOptions);
                console.log('Verification email sent to:', userEmail);
            } catch (error) {
                console.error('Не удалось отправить email:', error);
                throw error; // Возврат ошибки для обработки выше по стеку вызовов
            }
        }
    </script>
</head>

<body data-rails-controller-name="sessions" data-rails-controller-action-name="new" style="background-color: white;">
    <%- include('../navbar', { user: user }) %>
        <main>
            <div id="flash-alerts" class="container">
            </div>


            <div class="container">
            </div>

            <div id="flash-alerts" class="container">
                <% if (messages.error.length > 0) { %>
                    <div class="alert alert-danger">
                        <% messages.error.forEach(function(message) { %>
                            <p><%= message %></p>
                        <% }); %>
                    </div>
                <% } %>
                <% if (messages.success.length > 0) { %>
                    <div class="alert alert-success">
                        <% messages.success.forEach(function(message) { %>
                            <p><%= message %></p>
                        <% }); %>
                    </div>
                <% } %>
            </div>            

            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Выслать повторно письмо с активацией</h4>
                    </div>
                    <div class="panel-body">
                        <form class="simple_form new_user" id="new_user" role="form" novalidate="novalidate"
                            action="/users/confirmation" accept-charset="UTF-8" method="post"><input type="hidden"
                                name="authenticity_token"
                                value="1cKUNMK3tOtsIgJwZnTIVDHlXJNxsiL1A6T4kpfCz512x1cc0As5OVBZedlbDF7Elxc5PKPONVInZAn0X_bEjw"
                                autocomplete="off">
                            <div class="form-group email optional user_email"><label
                                    class="control-label email optional" for="user_email">Email</label><input
                                    class="form-control string email optional" autofocus="autofocus" maxlength="191"
                                    pattern="\A[^@\s]+@[^@\s]+\z" type="email" size="191" value="" name="user[email]"
                                    id="user_email" data-sider-select-id="c978bb50-5f96-4541-93fa-53ea940a8877"
                                    control-id="ControlID-1"></div>

                            <input type="submit" name="commit" value="Выслать повторно письмо с активацией"
                                class="btn btn-primary" data-disable-with="Выслать повторно письмо с активацией"
                                control-id="ControlID-2">
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../footer') %>
</body>

</html>